/* ==========================================================================
                                Fonts import
   ========================================================================== */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Regular/HelveticaNeue-CondensedRegular.eot');
    src: url('../fonts/HelveticaNeue-Regular/HelveticaNeue-CondensedRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue-CondensedRegular.woff') format('woff'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue-CondensedRegular.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Regular/HelveticaNeue-CondensedRegular.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot');
    src: url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot');
    src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCondensedBlack';
    src: url('../fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.eot');
    src: url('../fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.woff') format('woff'),
    url('../fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ==========================================================================
                     Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;  
    overflow: hidden;  
}
body {
    background-color: #fff;
    height: 100%;    
    overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* ==========================================================================
                                Helper classes
   ========================================================================== */

.d-clear::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;;
    overflow: hidden;
    display: block;
}

.bg__bubble-1 {
    width: 321px;
    height: 321px;
    opacity: 0.03;
    background-color: #0b9fda;
    border-radius: 50%;
    position: absolute;
    top: 765px;
    left: -100px;
}
.bg__bubble-2 {
    width: 32px;
    height: 32px;
    opacity: 0.1;
    background-color: rgba(11, 159, 218, 0.5);    
    border-radius: 50%;
    position: absolute;
    top: 970px;
    left: 61vw;
}
.bg__bubble-3 {
    width: 170px;
    height: 435px;
    opacity: 0.05;
    background-color: #0b9fda;    
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    position: absolute;
    top: 849px;
    right: 0;
}
.bg__bubble-4 {
    width: 182px;
    height: 419px;
    font: 900 350px/419px 'HelveticaNeueCondensedBlack';        
    font-stretch: condensed;    
    letter-spacing: normal;    
    color: rgba(1, 15, 21, 0.02);
    position: absolute;
    top: 1012px;
    left: 25vw;
}
.bg__bubble-5 {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 1379px;
    left: 18vw;
    opacity: 0.05;
    border: 22px solid #0b9fda;
}

/*
#wrapper {
    transition: transform 700ms ease;
    transform: translate3d(0, 0, 0);
}
*/

/* ==========================================================================
                                HEADER classes
   ========================================================================== */

header {

}
.header__logo {
    width: 158px;
    height: 42px;
    display: block;
    position: absolute;    
    top: 14px;
    left: 50%;
    margin-left: -79px;
    z-index: 1;
}
.header__logo img {
    width: 158px;
    height: 42px;
}
.nav__button {
    position: fixed;
    left: 33px;
    top: 22px;
    width: 64px;
    text-align: right;    
    cursor: pointer;
    z-index: 7;    
}
.nav__butto_icon {
    position: absolute;
    width: 24px;
    height: 2px;    
    display: block;
    left: 0;
    top: 12px;     
    transition: all 300ms ease 200ms
}
.nav__butto_icon i {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color:rgba(1, 15, 21, 0.5);
    left: 0;
    top: 0; 
    transition: all 300ms ease, opacity 300ms ease 200ms;
    opacity: 1;
}
.nav__butto_icon::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgba(1, 15, 21, 0.5);
    position: absolute;
    right: 0;
    top: -9px;    
    transition: all 300ms ease 200ms, background-color 150ms ease;
}
.nav__button:hover .nav__butto_icon i,
.nav__button:hover .nav__butto_icon::before,
.nav__button:hover .nav__butto_icon::after {    
    background-color: rgba(11, 159, 218, 0.5)
}
.nav__button .nav__butto_icon.show-nav i {
    opacity: 0;
}
.nav__butto_icon.show-nav {
    background-color: transparent;
    transform: translate3d(-5px, 0px, 0);
}
.nav__butto_icon::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgba(1, 15, 21, 0.5);
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: all 300ms ease 200ms, background-color 150ms ease;
}
.nav__butto_icon.show-nav::before  {
    width: 25px;
    height: 2px;
    transform: rotate(-45deg) translate3d(0, 12px, 0)
}
.nav__butto_icon.show-nav::after {
    width: 25px;
    height: 2px;
    transform: rotate(45deg) translate3d(-1px, -12px, 0)
}
.nav__butto_text {
    font-family: HelveticaNeueMedium;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: rgba(1, 15, 21, 0.5);
    transition: color 150ms ease;
}
.nav__button:hover .nav__butto_text {
    color: rgba(11, 159, 218, 0.5);
}

.nav__top {
    width: 100%;
    height: 72px;
    background-color: #ffffff;    
    box-shadow: 0 2px 8px 0 rgba(1, 15, 21, 0.08);
    position: fixed;
    top: 0;    
    transform: translate3d(0, -100%, 0);
    transition: transform 300ms ease;
    z-index: 6;
}
.nav__top.show {
    transform: translate3d(0, 0, 0);
}
.nav__top_logo {
    width: 158px;
    height: 42px;
    display: block;
    position: absolute;
    top: 14px;
    left: 50%;
    margin-left: -79px;
}
.nav__top_logo img {
    width: 158px;
    height: 42px;
}
.nav__top_but {    
    height: 47px;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(1, 15, 21, 0.08);
    float: right;    
    margin-top: 12px;
}
.nav__top_but.appstore {
    width: 157px;    
    background: url('../img/apple-store-topnav.png') no-repeat center / 157px 47px;
    margin-right: 24px;
}
.nav__top_but.googleplay {
    width: 169px;    
    background: url('../img/google-play-topnav.png') no-repeat center / 169px 47px;
    margin-right: 16px;
}


/* ==========================================================================
                                NAV LEFT classes
   ========================================================================== */
.nav__left {
    background-color: rgba(1, 15, 21, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: 6;  
    display: none;
}
.nav__left aside {
    width: 400px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    overflow: hidden;
    transform: translate3d(-100%, 0, 0);
    transition: transform 150ms ease;
}
.nav__left aside.show-nav {
    transform: translate3d(0, 0, 0);
}
.nav__left aside ul {
    list-style: none;
    margin: 112px 0 0 0;
    padding: 0 0 0 96px;
}
.nav__left aside ul li {        
    font: bold 16px/1 'HelveticaNeueBold';            
    margin-bottom: 56px;
    position: relative;
}
.nav__left aside ul li a {
    color: rgba(1, 15, 21, 0.5);
    transition: color 100ms ease;
    text-decoration: none;
}
.nav__left aside ul li a:hover {
    color: rgba(11, 159, 218, 0.5);
}
.nav__left aside ul li.current::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #0b9fda;
    border-radius: 50%;
    position: absolute;
    left: -23px;
    top: 2px;
}
.nav__left_strores {
    text-align: center;
    margin: 72px 0;
}
.nav__left_strores .googleplay {
    display: inline-block;
    width: 144px;
    height: 48px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    background: url('../img/google-play.png') no-repeat center / 144px 48px;
    margin-right: 25px;
    transition: all 150ms ease;
}
.nav__left_strores .appstore {
    display: inline-block;
    width: 144px;
    height: 48px;
    border-radius: 12px;    
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    background: url('../img/apple-store.png') no-repeat center / 144px 48px;
    transition: all 150ms ease;
}
.nav__left_strores .googleplay:hover,
.nav__left_strores .appstore:hover {
    box-shadow: 0 16px 24px 0 rgba(1, 15, 21, 0.08);    
}
.nav__left_footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
}
.nav__left_footer.na {
    position: static;
    margin-bottom: 40px;
}
.nav__left_footer .youtube {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url('../img/youtube-blue-copy.svg') no-repeat center / 20px 20px;
    margin-left: 44px;
}
.nav__left_footer .facebook {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url('../img/facebook-blue-copy.svg') no-repeat center / 20px 20px;
    margin-left: 24px;
    transition: opacity 300ms ease;
}
.nav__left_footer .youtube:hover,
.nav__left_footer .facebook:hover {
    opacity: 0.6;
}
.nav__left_footer-text {    
    font: 10px/1 'HelveticaNeue';
    color: rgba(1, 15, 21, 0.5);
    display: block;
    margin-left: 25px;
    float: left;
    margin-top: 6px;
    letter-spacing: 0.5px;
}
.nav__left_footer-text a {
    color: rgba(1, 15, 21, 0.5);
    text-decoration: none;
    transition: all 150ms ease;
}
.nav__left_footer-text a:hover {
    color: rgba(11, 159, 218, 0.5);
}
.nav__left_circle-1 {
    width: 109px;
    height: 109px;
    opacity: 0.1;
    background-color: rgba(11, 159, 218, 0.5);    
    border-radius: 50%;
    position: absolute;
    left: 245px;
    top: 188px;
}


/* ==========================================================================
                                FRAME-1 classes
   ========================================================================== */
.frame-1 {    
    background: url('../img/bg-frame-1.png') no-repeat center bottom / cover;
    text-align: center;
    position: relative;
}
.frame-1 h1 {
    margin: 0 auto;
    padding: 179px 0 0 0;
    width: 465px;
    font: 100 64px/1.19 'HelveticaNeueThin';    
    letter-spacing: 2px;
    text-align: center;
    color: #010f15;    
}
.frame-1__description {
    width: 460px;    
    font-family: HelveticaNeueLight;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: center;
    color: #010f15;
    margin: 14px auto 0 auto;
}
.frame-1__description b {    
    font-family: HelveticaNeueMedium;    
}
.frame-1__stores {
    text-align: center;
    width: 500px;
    margin: 34px auto 0 auto;
    position: relative;
    padding-bottom: 38px;
}
.frame-1__stores a {    
    width: 203px;
    height: 63px;
    border-radius: 16px;    
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    display: inline-block;
    transition: box-shadow 150ms ease;
}
.frame-1__stores a:hover {
    box-shadow: 0 16px 24px 0 rgba(1, 15, 21, 0.08);
}
.frame-1__stores a.googleplay {    
    background: url('../img/google-play.png') no-repeat center / 203px auto;
    margin-right: 24px;
}
.frame-1__stores a.appstore {    
    background: url('../img/apple-store.png') no-repeat center / 203px auto;
}
.frame-1__store-hint {    
    transform: rotate(7deg);
    position: absolute;
    top: -9px;
    right: -119px;
    font: italic 12px/1 'HelveticaNeueMedium';   
    text-align: left;
    color: #010f15;    
}
.frame-1__store-hint b {
    font-family: 'HelveticaNeueBold';
    font-style: normal;
}
.frame-1__store-hint::before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background: url('../img/share.svg') no-repeat center / 33px 33px;
    position: absolute;
    left: -2px;
    bottom: -43px;
    transform: rotate(-7deg);
}
.frame-1__play-but {
    margin: 0 auto;
    display: inline-block;
    font: 14px/1 'HelveticaNeueLight';
    color: #010f15;
    cursor: pointer;
    padding-left: 32px;
    position: relative;
    transition: all 150ms ease;
}
.frame-1__play-but b {
    font-family: 'HelveticaNeueBold'
}
.frame-1__play-but::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url('../img/play-video.svg') no-repeat center / 22px 22px;
    position: absolute;
    top: -4px;
    left: 0;    
    transition: all 150ms ease;
}
.frame-1__play-but:hover {
    color: rgba(11, 159, 218, 0.5);
}
.frame-1__play-but:hover::before {
    opacity: 0.6;
}
.frame-1__phone {
    width: 841px;
    height: auto;
    object-fit: contain;
    margin: 56px auto 0 auto;
}
.frame-1__news {
    width: 504px;   
    border-radius: 16px;
    background-color: #ffffff;    
    box-shadow: 0 24px 32px 0 rgba(1, 15, 21, 0.08);
    position: absolute;
    left: 32px;
    bottom: 0;    
    padding: 32px 32px 23px 32px;
    text-align: left;
}
.frame-1__news .frame-1__news_close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transform: rotate(45deg);
}
.frame-1__news .frame-1__news_close::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(1, 15, 21, 0.25);
    top: 0;
    left: 50%;
    margin-left: -1px;
    transition: background-color 150ms ease;
}
.frame-1__news .frame-1__news_close::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(1, 15, 21, 0.25);
    top: 50%;
    left: 0;
    margin-top: -1px;
    transition: background-color 150ms ease;
}
.frame-1__news_close:hover::before,
.frame-1__news_close:hover::after {
    background-color: rgba(11, 159, 218, 0.5);
}

.frame-1__news_title {
    font: bold 18px/24px 'HelveticaNeueBold';
    color: #010f15;
    margin-bottom: 14px;
}
.frame-1__news_description {
    font: 16px/24px 'HelveticaNeueMedium';
    opacity: 0.5;    
    color: #010f15;
    margin-bottom: 12px;
}
.frame-1__news a {
    display: inline-block;
    font: bold 14px/1 'HelveticaNeueBold';    
    color: #0b9fda;    
}

/* ==========================================================================
                                FRAME-2 classes
   ========================================================================== */
.frame-2 {
    width: 1136px;
    margin: 255px auto 0 auto;
    position: relative;
}
.frame-2__title {
    width: 536px;
    font: bold 14px/1 'HelveticaNeueBold';
    color: #0b9fda;
    text-transform: uppercase;
    margin: 0 0 8px 120px;
}
.frame-2__description {
    width: 536px;
    font: 36px/1.5 'HelveticaNeueMedium';    
    color: #010f15;
    letter-spacing: -0.5px;
    margin: 0 0 23px 120px;
}
.frame-2__bg {
    width: 1136px;
    height: 560px;
    background: url('../img/bg-frame-2.jpg') no-repeat center bottom;
    position: relative;
}
.frame-2__bg_play-video {
    font: 14px/1 'HelveticaNeueMedium';
    color: #010f15;
    position: absolute;
    left: 32px;
    bottom: 33px;
    cursor: pointer;
    transition: all 150ms ease;
}
.frame-2__bg_play-video::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/play-video.svg) no-repeat center / 22px 22px;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -11px;
    transition: all 150ms ease;
}
.frame-2__bg_play-video:hover {
    color: rgba(11, 159, 218, 0.5);    
}
.frame-2__bg_play-video:hover::before{
    opacity: 0.6;
}
.frame-2__phone {    
    position: absolute;
    right: 8px;
    bottom: -32px;
}
.frame-2__phone_hull {
    width: 536px;
    height: 864px;
    background: url('../img/frame-2-phone.png') no-repeat center / 536px 864px;
    z-index: 3;
    position: relative;
}
.frame-2__phone_slider {    
    width: 321px;
    height: 696px;
    position: absolute;    
    top: 58px;
    left: 160px;
    z-index: 2;
    overflow: hidden;    
}
.frame-2__phone_slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 2000px;
}
.frame-2__phone_slider li {
    width: 321px;
    height: 696px;
    float: left;
}
.frame-2__phone_slider li img {
    width: 321px;
    height: 696px;
}

/* ==========================================================================
                                FRAME-3 classes
   ========================================================================== */

.frame-3 {
    margin-top: 244px;
}
.frame-3__title {
    font: bold 16px/1 'HelveticaNeueBold';
    letter-spacing: 4px;
    text-align: center;
    color: rgba(1, 15, 21, 0.5);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.frame-3__list {
    list-style: none;
    margin: 0 auto;    
    padding: 0;
    display: table;
    margin-bottom: 64px;
}
.frame-3__list li {
    display: table-cell;
    padding-right: 40px;
}
.frame-3__list li:last-child {
    padding-right: 0;
}
.frame-3__list li img {
    width: 160px;
    height: 88px;
}
.frame-3__reed-all {
    text-align: center;
}
.frame-3__reed-all a {
    display: inline-block;
    height: 63px;
    border-radius: 16px;
    background-color: #ffffff;    
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    font: bold 14px/63px 'HelveticaNeueBold';
    text-align: center;
    color: #010f15  !important;    
    padding: 0 40px;    
    text-decoration: none;
    transition: box-shadow 150ms ease;
}
.frame-3__reed-all a:hover {
    box-shadow: 0 16px 24px 0 rgba(1, 15, 21, 0.08);
}

/* ==========================================================================
                                FRAME-4 classes
   ========================================================================== */

.frame-4 {
    margin-top: 250px;
    position: relative;    
}
.frame-4__dotted {
    background: url('../img/bg-frame-4-dotted.png');
    width: 72vw;
    height: 493px;
    position: absolute;
    top: 0;
    right: 0;
}
.frame-4__title {
    width: 640px;
    font: 36px/54px 'HelveticaNeueLight';
    text-align: center;
    color: #010f15;
    margin: auto;
    position: relative;
    z-index: 1;
}
.frame-4__title b {
    font-family: 'HelveticaNeueBold';
}
.frame-4__comments {
    height: 531px;
    background: url('../img/bg-frame-4-comments.png') no-repeat center / 100% auto;    
}
.frame-4__faces {
    height: 531px;
    background: url('../img/bg-frame-4-faces.png') no-repeat center / auto 531px;    
}
.frame-4__faces-relative {
    width: 640px;
    position: relative;
    margin: auto;
}
.frame-4__comment {
    border-radius: 50%;
    position: absolute;
    transition: border-color 150ms ease;
    border: 4px solid transparent;
    box-sizing: content-box;    
}
.frame-4__comment img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.frame-4__comment_tooltip {
    width: 529px;    
    border-radius: 16px;
    position: absolute;
    top: -25px;        
    z-index: 1;
    display: none;
}
.frame-4__comment_tooltip-wrapper {
    border-radius: 16px;
    padding: 32px;
    background-color: #ffffff;    
    box-shadow: 0 24px 32px 0 rgba(1, 15, 21, 0.08);
}
.frame-4__comment_tooltip-text {    
    opacity: 0.5;
    font: 16px/27px 'HelveticaNeueMedium'
    color: #010f15;    
}
.frame-4__comment_tooltip-video {
    font: 14px/1 'HelveticaNeueMedium';    
    color: #010f15;
    padding-left: 32px;
    position: relative;    
    transition: all 150ms ease;
    margin-top: 12px;
    cursor: pointer;
}
.frame-4__comment_tooltip-video:hover {
    color: rgba(11, 159, 218, 0.5);
}
.frame-4__comment_tooltip-video::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/play-video.svg) no-repeat center / 22px 22px;
    position: absolute;
    top: -4px;
    left: 0;
    transition: all 150ms ease;
}
.frame-4__comment_tooltip-video:hover::before {
    opacity: 0.6;
}
.frame-4__comment_tooltip-profile {
    margin-top: 42px;
}
.frame-4__comment_tooltip-profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
}
.frame-4__comment_tooltip-profile ul li {
    display: table-cell;
    vertical-align: middle;
}
.frame-4__comment_tooltip-profile ul li.name {
    font: bold 18px/1 'HelveticaNeueBold';    
    color: #010f15;
    padding-right: 15px;
}
.frame-4__comment_tooltip-profile ul li .rate {
    width: 112px;
    height: 16px;
    background: url('../img/stars-gray.svg') no-repeat left center;
    position: relative;
}
.frame-4__comment_tooltip-profile ul li .rate::before {
    content: "";
    display: block;
    height: 16px;
    background: url('../img/stars-yelow.svg') no-repeat left center;
    position: absolute;
    left: 0;
    top: 0;
}
.frame-4__comment_tooltip-profile ul li .rate.r-0::before {
    width: 0;
}
.frame-4__comment_tooltip-profile ul li .rate.r-1::before {
    width: 16px;
}
.frame-4__comment_tooltip-profile ul li .rate.r-2::before {
    width: 40px;
}
.frame-4__comment_tooltip-profile ul li .rate.r-3::before {
    width: 70px;
}
.frame-4__comment_tooltip-profile ul li .rate.r-4::before {
    width: 94px;
}
.frame-4__comment_tooltip-profile ul li .rate.r-5::before {
    width: 112px;
}
.frame-4__comment_tooltip-profile a {
    display: inline-block;
    font: 12px/1 'HelveticaNeueMedium';    
    color: #0b9fda;
    text-decoration: none;
    margin-top: 2px;
}
.frame-4__comment:hover {    
    box-shadow: 0 24px 32px 0 rgba(1, 15, 21, 0.08);
    border: 4px solid #0b9fda;    
}
.frame-4__comment.opacity:hover {    
    box-shadow: none;
    border: 4px solid transparent;    
}
.frame-4__comment.type-120 {
    width: 120px;
    height: 120px;
}
.frame-4__comment.type-100 {
    width: 100px;
    height: 100px;
}
.frame-4__comment.type-80 {
    width: 80px;
    height: 80px;
}
.frame-4__comment.type-40 {
    width: 40px;
    height: 40px;
}
.frame-4__comment.opacity {
    opacity: 0.2;
}


/* ==========================================================================
                                FRAME-5 classes
   ========================================================================== */
.frame-5 {
    background: url('../img/bg-frame-5-waves.svg') no-repeat center bottom / 100% auto;
}
.frame-5__waves {
    height: 743px;
    background: url('../img/bg-frame-5.svg') no-repeat center / auto 743px;
}
.frame-5__title {
    width: 640px;
    margin: auto;
    font: 36px/54px 'HelveticaNeueLight';    
    font-stretch: normal;    
    letter-spacing: normal;
    text-align: center;
    color: #010f15;
    padding-top: 350px;
}
.frame-5__title b {
    font-family: 'HelveticaNeueBold';
}
.frame-5__button {
    text-align: center;
    padding-top: 40px;
}
.frame-5__button a {
    display: inline-block;
    height: 63px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    font: bold 14px/63px 'HelveticaNeueBold';
    text-align: center;
    color: #010f15 !important;
    padding: 0 40px;
    text-decoration: none;
    transition: box-shadow 150ms ease;    
}
.frame-5__button a:hover {
    box-shadow: 0 16px 24px 0 rgba(1, 15, 21, 0.08);
}

/* ==========================================================================
                                FRAME-6 classes
   ========================================================================== */
.frame-6 {    
    margin-top: 135px;
}
.frame-6__bg {
    height: 285px;
    background: url('../img/bg-frame-6.png') no-repeat center top / 100% auto;
}
.frame-6__content {
    height: 270px;
    background-color: #00a2dd;
}
.frame-6__opening-text {    
    font: 14px/1 'HelveticaNeueMedium';   
    font-stretch: normal;    
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 27pxx;
}
.frame-6__opening-text b,
.frame-6__download-text b {
    font-family: 'HelveticaNeueBold'
}
.frame-6__download-text {
    margin-top: 20px;
    font: 32px/1.3 'HelveticaNeueMedium';       
    font-stretch: normal;    
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;    
}
.frame-6__buttons {
    list-style: none;
    padding: 0;
    margin: 50px auto 0 auto;
    display: table;
}
.frame-6__buttons li {
    display: table-cell;
}
.frame-6__buttons li.googleplay {
    padding-right: 16px;
}
.frame-6__buttons li.appstore {
    padding-left: 16px;
}
.frame-6__buttons li.googleplay a {
    width: 203px;
    height: 63px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    display: inline-block;
    transition: box-shadow 150ms ease;
    background: url(../img/google-play.png) no-repeat center / 203px auto;
}
.frame-6__buttons li.appstore a {
    width: 203px;
    height: 63px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(1, 15, 21, 0.08);
    display: inline-block;
    transition: box-shadow 150ms ease;
    background: url(../img/apple-store.png) no-repeat center / 203px auto;
}
.frame-6__buttons li a:hover {
    box-shadow: 0 16px 24px 0 rgba(1, 15, 21, 0.08);
}

/* ==========================================================================
                                NAV BOTTOM classes
   ========================================================================== */
.nav-bottom {
    padding-top: 147px;
    background: url('../img/logo.png') no-repeat center 40px / auto 56px;
}
.nav-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0 auto 45px auto;
    display: table;
}
.nav-bottom ul li {
    display: table-cell;
    padding-right: 80px;
}
.nav-bottom ul li:last-child {
    padding-right: 0;

}
.nav-bottom ul li a {        
    font: bold 12px/1 'HelveticaNeueBold';    
    color: rgba(1, 15, 21, 0.5);
    text-decoration: none;    
    transition: color 150ms ease;
}
.nav-bottom ul li a:hover {
    color: rgba(11, 159, 218, 0.5);
}

/* ==========================================================================
                                FOOTER classes
   ========================================================================== */
footer {
    height: 56px;
    background-color: #010f15;
}
footer .footer__table {
    list-style: none;
    margin: 0;
    padding: 0;        
    height: 56px;
    position: relative;
}
footer .footer__table li {
    
}
footer .footer__table li.left {    
    text-align: left;
    position: absolute;
    left: 32px;
    top: 23px;
    
}
footer a {
    text-decoration: none!important;
    transition: all 150ms ease;
}
footer a:hover {
    color: #0b9fda!important;
}
footer .footer__table li.left a {
    font: 10px/1 'HelveticaNeueMedium';    
    color: #ffffff;
    display: block;
    float: left;
    padding-right: 13px;
    margin-right: 12px;
    position: relative;
}
footer .footer__table li.left a::after {
    content : "";
    display: block;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 1px;
    right: 0px;
    background-color: #fff;
}
footer .footer__table li.left a:last-child {
    padding: 0;
    margin: 0;
}
footer .footer__table li.left a:last-child::after {
    display: none;
}
footer .footer__table li.center {
    text-align: center;
    width: 100%;
    font: 10px/1 'HelveticaNeueMedium';
    color: #ffffff;
    padding-top: 23px;
}
footer .footer__table li.right {
    text-align: left;
    position: absolute;
    right: 32px;
    top: 23px;
}
footer .footer__table li.right span {
    display: block;
    float: right;
    font: 10px/1 'HelveticaNeueMedium';  
    color: #ffffff;
    padding-left: 13px;
    margin-left: 12px;
    position: relative;
}
footer .footer__table li.right span::after {
    content : "";
    display: block;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 0px;
    background-color: #fff;
}
footer .footer__table li.right a {
    display: block;
    float: right;
}
footer .footer__table li.right a.mail {
    margin-left: 37px;
    font: 10px/1 'HelveticaNeueMedium';  
    color: #ffffff;
}
footer .footer__table li.right a.facebook {
    margin-left: 32px;
    width: 12px;
    height: 12px;
    background: url('../img/footer-facebook.svg') no-repeat center / 12px 12px;
    float: right;
}
footer .footer__table li.right a.youtube {
    width: 16px;
    height: 12px;
    background: url('../img/footer-youtube.svg') no-repeat center / 16px 12px;
    float: right;
}
footer .footer__table li.right a.facebook:hover {
    background: url('../img/footer-facebook-hover.svg') no-repeat center / 16px 12px;
}
footer .footer__table li.right a.youtube:hover {
    background: url('../img/footer-youtube-hover.svg') no-repeat center / 16px 12px;   
}

/* ==========================================================================
                                MODAL classes
   ========================================================================== */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 15, 21, 0.7);
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    padding: 20px;
    z-index: 20;
    display: none;
}
.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}
.modal__wrapper {
    
    
    font-size: 30px;
    display: inline-block;
    
    box-shadow: 0 0px 32px 0 rgba(1, 15, 21, 0.2);
}
.modal__wrapper iframe {
    width: 854px!important;
    height: 480px!important;
}