/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
                     Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    background-color: #fff;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* ==========================================================================
                                Helper classes
   ========================================================================== */

.d-clear::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;;
    overflow: hidden;
    display: block;
}

/* ==========================================================================
                                HEADER classes
   ========================================================================== */



